@import "./scss/colors";
@import "./scss/size";
body {
  color: $font-grey;
}
.Toastify {
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    .Toastify__toast--success {
      background-color: $background-primary;
      .Toastify__close-button {
        align-self: center;
      }
    }
  }
}
.ui.form {
  .field {
    .input {
      input {
        background: $background-grey-light;
        font-size: 16px;
        color: $font-ligth;
        border: 0;
        &:hover,
        &:active,
        &:focus {
          background-color: $background-grey-light-hover;
          color: $font-ligth;
          border: 0;
        }
      }
      i {
        color: $font-ligth;
      }
    }
  }
  .ui.button {
    width: 100%;
    margin-top: 20px;
    background-color: $priamry-color;
    color: $font-ligth;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
